<table>
    <tr>
        <td>
            <label for="googleTextBox">
                Enter Search Text
            </label>
        </td>
        <td>
            <input type="text" value="" id="googleSearchInput">
            <button dojoType="dijit.form.Button" type="button" id="googleSearchButton">
                Search
            </button>
        </td>
    </tr>
</table>
<div style="height: 150px; overflow: auto;">
    <table id="googleResultTable" display: none;">
        <thead>
            <tr>
                <th>
                    Size
                </th>
                <th>
                    Image
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<table>
    <tr>
        <td>
            <label for="googleComboBox">
                Resising tipology:
            </label>
        </td>
        <td align="center" colspan="2">
            <input dojoType="dijit.form.ComboBox" id="googleComboBox">
        </td>
    </tr>
    <tr>
        <td>
            <label for="googleTextBox">
                Source:
            </label>
        </td>
        <td>
            <input dojoType="dijit.form.ValidationTextBox" regExp="^https?://(?:[a-z\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|gif|png)$" invalidMessage="Invalid image url" type="text" name="googleTextBox" id="googleTextBox">
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <button dojoType="dijit.form.Button" id="googleSubmit" type="submit">
                OK
            </button>
            <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('loadDialog').hide();">
                Cancel
            </button>
        </td>
    </tr>
</table>
