<table>
        <td>
            <label for="resizeCanvasWidth">
                Width:
            </label>
        </td>
        <td>
            <input dojoType="dijit.form.ValidationTextBox" trim="true" regExp="/(^-?\d\d*\.\d*$)|(^-?\d\d*$)|(^-?\.\d\d*$)/" invalidMessage="Invalid number" type="text" name="width" id="resizeCanvasWidth">
        </td>
    </tr>
    <tr>
        <td>
            <label for="resizeCanvasHeight">
                Height:
            </label>
        </td>
        <td>
            <input dojoType="dijit.form.ValidationTextBox" trim="true" regExp="/(^-?\d\d*\.\d*$)|(^-?\d\d*$)|(^-?\.\d\d*$)/" invalidMessage="Invalid number" type="text" name="height" id="resizeCanvasHeight">
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <button dojoType="dijit.form.Button" id="resizeCanvasSubmit" type="submit">
                OK
            </button>
            <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('resizeCanvasDialog').hide();">
                Cancel
            </button>
        </td>
    </tr>
</table>